{% extends 'base.html' %}

{% block content %}
<!-- Begin Page Content -->

<div class="container-fluid">
    {% for obj in products %}
    <input type="hidden" name="" value="{{obj.id}}" id="formId">
    <!-- DataTales Example -->
    <div class="card bg-gradient-light" id="prueba1">
        <!--div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Número de resultados: {{ cuantos }} autos.</h6>
        </div-->
        <div class="row justify-content-center">

        <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 col-11">

        <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body">
        <h1 class="h1 mb-2 text-gray-900 text-center">Actualizar Videojuego</h1>
        <h1 class="h4 mb-2 text-gray-800 text-center">{{obj.display_name}}</h1>


            <!--form method="POST" action="/add" enctype='application/json' class=""-->
            <form method="POST" id="form_ajax">
                <div class="form-group">
                    <label for="formName" class="lead">Nombre</label>
                    <input value="{{obj.name}}" type="text" class="form-control" id="formName" name="name" placeholder="Ejemplo: Grand Theft Auto: San Andreas" required>
                </div>
                <div class="form-group">
                    <label for="formDescription" class="lead">Descripción</label>
                    <input value="{{obj.description}}" type="text" class="form-control" id="formDescription" name="description" placeholder="Ejemplo: Videojuego para Xbox" required>
                </div>
                <div class="form-group">
                    <label for="formDescriptionPurchase" class="lead">Descripción de Compra</label>
                    <input value="{{obj.description_purchase}}" type="text" class="form-control" id="formDescriptionPurchase" name="description_purchase" placeholder="Ejemplo: Membresia Gold no incluida." required>
                </div>
                <div class="form-group">
                    <label for="formDescriptionSale" class="lead">Descripción de Venta</label>
                    <input value="{{obj.description_sale}}" type="text" class="form-control" id="formDescriptionSale" name="description_sale" placeholder="Ejemplo: No transferible" required>
                </div>
                <div class="form-group">
                    <label for="formBarcode" class="lead">Código de Barras</label>
                    <input value="{{obj.barcode}}" type="text" class="form-control" id="formBarcode" name="barcode" placeholder="Ejemplo: 74590239285" required>
                </div>
                <div class="form-group">
                    <label for="formDefaultCode" class="lead">Código por defecto</label>
                    <input value="{{obj.default_code}}" type="text" class="form-control" id="formDefaultCode" name="default_code" placeholder="Ejemplo: Xbox-GTASA" required>
                </div>
                <div class="form-group">
                    <label for="formListPrice" class="lead">Precio de Lista</label>
                    <input value="{{obj.list_price}}" type="text" class="form-control" id="formListPrice" name="list_price" placeholder="Ejemplo: $499" required>
                </div>
                <div class="form-group">
                    <label for="formStandardPrice" class="lead">Precio Estándar</label>
                    <input value="{{obj.standard_price}}" type="text" class="form-control" id="formStandardPrice" name="standard_price" placeholder="Ejemplo: $419" required>
                </div>
                <!--div class="form-group">
                    <label for="formActive">Activo</label>
                    <select class="form-control" id="formActive" name="active" required>
                      <option>true</option>
                      <option>false</option>
                    </select>
                </div-->
                
                <!--div class="form-group">
                    <label for="formCilindros" class="lead">Cilindros</label>
                    <input type="number" class="form-control" id="formCilindros" name="cylinders" placeholder="Ejemplo: 4" min="0" required>
                </div-->
                
                
                <div class="d-grid gap-2 mx-auto text-center">
                <!--button type="submit" class="btn btn-success btn-icon-split" onclick="enviar()" id="agregar"-->
                <input type="submit" class="btn btn-primary" name="submit" value="Actualizar">
                    <!--span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Agregar</span-->

                </input>
                </div>
            </form>
            {% endfor %}
        </div>
        <div class="alert alert-primary mx-3" id="loading-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Cargando... </strong> Los cambios están siendo guardados en la base de datos.
        </div>
        <div class="alert alert-success mx-3" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Éxito! </strong> El videojuego ha sido actualizado exitosamente.
        </div>
        <div class="alert alert-danger mx-3" id="error-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>ERROR: </strong> El videojuego no pudo ser actualizado. Compruebe los datos y asegurese de que son correctos.
        </div>
        </div>
        </div>
        </div>
    </div>

</div>

<!-- /.container-fluid -->

{% endblock content %}

{% block  javascript %}

<script >

    $('#form_ajax').on('submit', function(e){
    
    e.preventDefault();

    //var select = document.getElementById("formActive");
    //var isActive = select.options[select.selectedIndex].text;
    
        $.ajax({
            type : "POST", 
            url: "{% url 'editGameAjax' %}",
            data: {
             id : $('#formId').val(),
             name : $('#formName').val(),
             description : $('#formDescription').val(),
             description_purchase : $('#formDescriptionPurchase').val(),
             description_sale : $('#formDescriptionSale').val(),
             barcode : $('#formBarcode').val(),
             default_code : $('#formDefaultCode').val(),
             list_price : $('#formListPrice').val(),
             standard_price : $('#formStandardPrice').val(),
             //active : isActive,
             dataType: "json",
            
            },
            beforeSend: function () {
                $("#loading-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#loading-alert").slideUp(500);
                });
            },
            success: function(data){
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").slideUp(500);
                });
            },
            failure: function() {
                $("#error-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#error-alert").slideUp(500);
                });
            },
            error: function (err) {
                console.log(err);
                $("#error-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#error-alert").slideUp(500);
                });
            }
    
        });
    
    });

    $(document).ready(function() {
        $("#success-alert").hide();
        $("#loading-alert").hide();
        $("#error-alert").hide();
    });

</script>

{% endblock javascript %}